<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="uz.isystem.tmdbapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <queries>
        <intent>
            <action android:name="com.google.android.youtube.api.service.START" />
        </intent>
    </queries>

    <application
        android:name=".core.app.App"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/ThemeTMDBApp"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".ui.login.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.movieapp.ui.main.seeAllMovies.SeeAllActorActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.movieapp.ui.main.movieDetails.ActorDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.start.StartActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.movieapp.ui.main.seeAllMovies.SeeAllMoviesActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.movieapp.ui.main.trailer.TrailerActivity"
            android:exported="false" />
        <activity
            android:name="com.example.movieapp.ui.main.movieDetails.MovieDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.MainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.start.SplashActivity"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>